.aboutAnimParent{
    min-height:300px;
    min-width:300px;
    width: 40%;
    aspect-ratio: 1/1;
    background-color: rgb(195, 228, 206);
    overflow:hidden;
    border-radius: 20px;
    border-radius: 20%;
    margin: 0px 0px 0px 15px;
}
.aboutAnimationfirstChild{
    position: relative;
    top: 50%;
    width: 83%;
    height: 10%;
    background: brown ;
    border-radius: 10px;
    animation-name: parentDivAnimation;
    animation-duration: 2s;
    animation-timing-function:cubic-bezier(.33,.64,.62,1.05);
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction:alternate;
}
@keyframes parentDivAnimation {
   
    from {
        transform: rotate(90deg);
        left: 25%;
        margin-bottom: 10px;
    }
    to { left: 80%;
        margin-bottom: 0px;
        transform: rotate(130deg);
    }
}
.handImgDiv{
   
    width: 15%;
    height:280%;
    border-radius: 20px;
    position:relative;
    left:80%;
    bottom:150%;
    background-Color:white;
}
.hand-wrist{
    height:350%;
    position: relative;
    top: -300%;
    background-color: black;
}
.screenDiv{
    position: relative;
    height:75%;
    width:75%;
    overflow: hidden;
     background-Color:black;
     border-radius: 20%;
     animation-name:screenChange ;
     animation-duration: 2s;
     animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction:alternate;
}
@keyframes screenChange {
    0%{
        background-color: whitesmoke;
       
    }
    10%{
        background-color: rgb(49, 58, 47);
    }
    100%{
        background-color: b;
    }
}
.screenData{
    height: 95%;
    width: 84%;
    border: 3px solid rgb(245, 202, 202);
    margin: 5px;
    position: absolute;
    border-radius: 10%;
   
    left: 6%;
    top: 6%;
    overflow: hidden;
}

.screenDataOne{
    animation-name: firstDataAnim;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  
    
}
.screenDataTwo{
    animation-duration: 20s;
    animation-delay: 0s;
    animation-name: secondDataAnim;
    animation-iteration-count: infinite;
    
}
.screenDataThree{
    animation-duration: 20s;
    animation-delay: 0s;
    animation-name: thirdDataAnim;
    animation-iteration-count: infinite;
}
.screenDataFour {
    animation-duration: 20s;
    animation-delay: 0s;
    animation-name: fourDataAnim;
    animation-iteration-count: infinite;
}

@keyframes firstDataAnim {
    0%{top :-100%} 20%{top:0%}  80%{top:0%}   100%{top:100%;  }
   
}
@keyframes secondDataAnim {
    0%{top :-100%} 20%{top:0%}  60%{top:0%} 80%{top:100%}   100%{top:100%;  }
}
@keyframes thirdDataAnim {
   
    0%{top :-100%} 20%{top:0%} 40%{top:0%} 60%{top:100%}   100%{top:100%}
}
@keyframes fourDataAnim {
    0%{top :-100%} 21%{top:0%} 40%{top:100%}   100%{top:100%}
}

